diff -up kconfig-5.12.0/src/core/CMakeLists.txt.fullpath kconfig-5.12.0/src/core/CMakeLists.txt
--- kconfig-5.12.0/src/core/CMakeLists.txt.fullpath	2015-07-05 03:54:35.000000000 -0500
+++ kconfig-5.12.0/src/core/CMakeLists.txt	2015-07-09 13:13:53.978827068 -0500
@@ -21,7 +21,7 @@ add_library(KF5::ConfigCore ALIAS KF5Con
 
 target_compile_definitions(KF5ConfigCore
     PRIVATE
-        KCONF_UPDATE_INSTALL_LOCATION="${CMAKE_INSTALL_PREFIX}/${KDE_INSTALL_LIBEXECDIR_KF5}/$<TARGET_FILE_NAME:KF5::kconf_update>"
+        KCONF_UPDATE_INSTALL_LOCATION="${KDE_INSTALL_LIBEXECDIR_KF5}/$<TARGET_FILE_NAME:KF5::kconf_update>"
 )
 
 target_include_directories(KF5ConfigCore INTERFACE "$<INSTALL_INTERFACE:${KDE_INSTALL_INCLUDEDIR_KF5}/KConfigCore>")
