[Desktop Entry]
Encoding=UTF-8
Type=XSession
Exec=/opt/kde5/bin/fedora_startkde
TryExec=/opt/kde5/bin/fedora_startkde
Name=Plasma 2
Comment=The next generation desktop made by the KDE Community
